<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'edit_book.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit Book</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
            <a href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
</body>
</html>